@font-face {
    font-family: 'Montserrat-Black';
    src: url(./assets/Montserrat/Montserrat-Black.ttf),
}
@font-face {
    font-family: 'Montserrat-BlackItalic';
    src: url(./assets/Montserrat/Montserrat-BlackItalic.ttf)
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./assets/Montserrat/Montserrat-Bold.ttf)
}
@font-face {
    font-family: 'Montserrat-Bold-Italic';
    src: url(./assets/Montserrat/Montserrat-BoldItalic.ttf),
}
@font-face {
    font-family: 'Montserrat-Extra-Light';
    src: url(./assets/Montserrat/Montserrat-ExtraLight.ttf),
}
@font-face {
    font-family: 'Montserrat-Extra-Light-Italic';
    src: url(./assets/Montserrat/Montserrat-ExtraLightItalic.ttf),
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url(./assets/Montserrat/Montserrat-Italic.ttf),
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(./assets/Montserrat/Montserrat-Light.ttf),
}
@font-face {
    font-family: 'Montserrat-Light-Italic';
    src: url(./assets/Montserrat/Montserrat-LightItalic.ttf),
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./assets/Montserrat/Montserrat-Medium.ttf),
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(./assets/Montserrat/Montserrat-SemiBold.ttf),
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url(./assets/Montserrat/Montserrat-Thin.ttf),
}
@font-face {
    font-family: 'Montserrat-Semi-Bold-Italic';
    src: url(./assets/Montserrat/Montserrat-SemiBoldItalic.ttf),
}
@font-face {
    font-family: 'Montserrat-Thin-Italic';
    src: url(./assets/Montserrat/Montserrat-ThinItalic.ttf)
}

body {
    margin: 0;
}

:root {
    --font-family: Montserrat;
}

.navbar {
    height: var(--nav-size);
    background-color: var(--bg);
}

.nav-items {
    display: flex;
    position: absolute;
    left: 80%;
}

.nav-item {
    align-items: center;
    justify-content: center;
}

.cover {
    width: 100%;
    background-image: url(./assets/assets_Homework_Front-End_01/bitmap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
}

.cover-title {
    width: 350px;
    height: 72px;
    font-family: var(--font-family);
    font-size: 48px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #cfb995;
    margin-bottom: 10px;
}
.cover-text {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.cover-description {
    width: 350px;
    height: 72px;
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 10px;
}
.buttons-container {
    display: flexbox;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 50px 100px 25px 100px;
}
.adult-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    background-color: #ff5b5b;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.dad-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: whitesmoke;
    background-color: #ff915b;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.christmas-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: whitesmoke;
    background-color: #ffbe5b;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.job-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: black;
    background-color: #ffdf5b;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.birthday-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: whitesmoke;
    background-color: #8fe360;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.sociale-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: whitesmoke;
    background-color: #57e690;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.puns-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: whitesmoke;
    background-color: #57dbe6;
    margin: 10px;
    border: none;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.all-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: black;
    background-color: #ffffff;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.loadMore-button {
    width: 240px;
    height: 42px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: black;
    background-color: #ffffff;
    margin: 10px;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}
.loadMore-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge {
    background-color: #57e690;
    border-radius: 50px;
    padding: 5px 15px 5px 15px; 
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 100px;
    text-transform: uppercase;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 50px 100px 25px 100px;
    padding: 10px;
    justify-content: space-around;
  }
  .cards__item {
    display: flex;
    padding: 1rem;
    width:"33%"
  }  
  .card {
    width: 300px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  .card__title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-family: var(--font-family);
  }

.footer {
    width: 100%;
    background-image: url(./assets/assets_Homework_Front-End_01/bitmap_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
}
// .card__btn-container {
//     width: 100%;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }

// .footer-text {
//     position: absolute;
//     left: 10%;
//     top:100%;
// }